@page "/systemAdministation"

<h3>SystemAdministation</h3>
<hr />
<div class= "system_setup">
    <h5>Setup</h5>
    <hr />
    <a href="/currencies">Currencies</a>
    <br/>
    <a href="/Currencies">Forex Rates</a>
    <br/>
    <a href="/banks">Banks</a>
    <br/>
    <a href="/companies">Companies</a>
    <br/>
    <a href="/branches">Branches</a>
    <br/>
    <a href="/postingPeriods">Posting Periods</a>
    <br/>
</div>

<div class="system_operations">
<hr />
<h5>Operations</h5>
    <hr />
    <a href="/currencies">Currencies</a>
    <br/>
    <a href="/Currencies">Forex Rates</a>
    <br/>
    <a href="/banks">Banks</a>
    <br/>
    <a href="/companies">Companies</a>
    <br/>
    <a href="/branches">Branches</a>
    <br/>
    <a href="/postingPeriods">Posting Periods</a>
<br/>
</div>

@code {

}
