@using BlazorApp1.Data
@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider

@*<div class="top-row px-4">
   <a href="/" target="_blank">---------------------------</a>
   <a href="/" target="_blank">Sharp Financials System</a>
   <a href="/" target="_blank">Version 1.0.0.0 </a><table></table>
   <a href="/" target="_blank">KDS_LIVE</a>
   <a href="/" target="_blank">---------------------------</a>
 </div>*@

<div class="top-row px-4">
    <div class="top-row px-4">      
        <AuthorizeView>
            <Authorized>
                <a href="/login" @onclick = "(()=> Logout())" >Logout</a>
            </Authorized>
            <NotAuthorized>
                <a href="/login">Login</a>
            </NotAuthorized>
        </AuthorizeView>
        <a href="https://docs.microsoft.com/en-us/aspnet/" target="_blank">About</a>
    </div>
   <a href="/" target="_blank">Mark</a>
 </div>

<div class="page">
 
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main"> 
        <div class="content px-4">
            @Body
        </div>    
    </div>
</div>
<div class="top-row px-4">
            <h6>Welcome</h6>
            <a href="/" target="_blank">Mark</a>
        </div>
@code{
    public void Logout()
    {
        ((CustomAuthenticatioStateProvider)AuthenticationStateProvider).MarkUserAsLoggedOut();
    }
}